
html{
	height:100%;
}
body{
	background-color:grey;
	text-align:center;
	height:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}
.main{
	width:70%;
	height:70%;
	background-color:black;
	text-align:center;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
button{
	color:blue;
	}
	label{
		color:yellow;
	}
	#word{
		margin:2%;
	}
	h1{
		color:red;
		margin-bottom:0px;
	}
	#spaces{
		margin:0px;
		margin-bottom: 20px;
		color:blue;
		font-size:40px;
	}
	#correct{
		margin:0px;
		color: purple;
	}
	
