
html{
	height:100%;
}
body{
	background-color:grey;
	text-align:center;
	height:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
		margin:0px;
	
}
.main{
	width:100%;
	height:100%;
	background-image:url('14bfb731b9dd3bae441cfcd22e4e2f61.jpg');
      
       	text-align:center;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin:0px;
}
button{
	color:blue;
	}
	label{
		color:yellow;
	}
	#word{
		margin:2%;
	}
	h1{
		color:brown;
		margin-bottom:0px;
	}
	#spaces{
		margin:0px;
		margin-bottom: 20px;
		color:blue;
		font-size:40px;
	}
	#correct{
		margin:0px;
		color: purple;
	}
	#circle{
		position:absolute;
	width:40px;
	height:40px;
	border-radius:50%;
	background-color:transparent;
	margin:0px;
	top:24.5%;
	left:12.65%;
} 
#square{
	position: absolute;
	top:30.6%;
	width:8px;
	height:100px;
	background-color:transparent;
	margin: 0px;
	left:13.8%;
}
#arm{

	transform:rotate(115deg);
	position:absolute;
width:4px;
	height:6%;
	background-color:transparent;
	margin: 0px;
	left:15%;
	top:30%;
}
#arm2{
	transform:rotate(65deg);
	position:absolute;
width:4px;
	height:6%;
	background-color:transparent;
	margin: 0px;
	left:13%;
	top:30%;
}
#leg{
	transform:rotate(40deg);
	position:absolute;
width:5px;
	height:8%;
	background-color:transparent;
	margin: 0px;
	left:12.5%;
	top:43.6%;
}
#leg2{
	transform:rotate(140deg);
	position:absolute;
width:5px;
	height:8%;
	background-color:transparent;
	margin: 0px;
	left:15.3%;
	top:43.6%;
}
#pole1{
	position:absolute;
	width:15px;
	height:75%;
	background-color:yellow;
	left:3%;
}
#pole2{
	position:absolute;
	width:10px;
	height:23%;
	background-color:green;
	transform:rotate(90deg);
    top:1.7%;
    left:9.2%;
}
#pole3{
	position:absolute;
	width:5px;
	height:7%;
	background-color:pink;
    top:14%;
    left:14%;
}
#difficulty{
	border: red solid 5px;
	position:absolute;
	right:3%;
	top:8%;
	padding:10px;
}
#easy:hover{
color:blue;
}
#medium:hover{
color:blue;
}
#hard:hover{
color:blue;
}
#dd{
	position:absolute;
	top:7px;
}
a:hover{
	color:red;
}
#Song1{
	color:brown;
}
#Song1:hover{
	color:blue;
}
#Song2{
	color:brown;
}
#Song2:hover{
	color:blue;
}
#Song3{
	color:brown;
}
#Song3:hover{
	color:blue;
}
#Song4{
	color:brown;
}
#Song4:hover{
	color:blue;
}
#mlist{
	border: red solid 5px;
	position:absolute;
	top:48%;
	right:2%;
	padding:10px;
}
#stop:hover{
	color:blue;
}
#again:hover{
	color:green;
}
#again:visited{
	color:green;
}
label{
	color:orange;
	font-size:25px;
}
